<%= render 'hero' %>

<section class="section">
<div class="shotts">
  <% @shotts.each do |shott| %>
    <div class="shott-grid-item">
      <div class="shott-wrapper">
      <%= link_to shott, class: "shott" do %>
        <%= image_tag(shott.user_shott_url) %>
        <div class="shott-data">
          <h3 class="shott-title"><%= shott.title %></h3>
          <h3 class="shott-technique"><%= shott.technique %></h3>
          <div class="shott-description"><%= truncate(shott.description, length: 60) %></div>
          <div class="shott-time">
            <%= time_ago_in_words(shott.created_at) %>
          </div>
        </div>
      <% end %>
      <nav class="level shott-analytics">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="level-item views data">
          <%= link_to shott do %>
            <span class="icon"><i class="fa fa-eye"></i></span>
            <%= shott.impressionist_count %>
          <% end %>
          
        </div>
        <div class="level-item comments data">
        <%= link_to shott do %>
          <span class="icon"><i class="fa fa-comment"></i></span>
           <%= shott.comments.count %>
        <% end %>
      </div>
      <div class="level-item likes">
        <% if user_signed_in? %>
          
          <% if current_user.liked? shott %>
            <%= link_to unlike_shott_path(shott), method: :put, class: "unlike_shott" do %>
              <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
              <span class="vote_count"><%= shott.get_likes.size %></span>
            <% end %>
          <% else %>
            <%= link_to like_shott_path(shott), method: :put, class: "like_shott" do %>
              <span class="icon"><i class="fa fa-heart"></i></span>
              <span class="vote_count"><%= shott.get_likes.size %></span>
            <% end %>
          <% end %>
        <% else %>
            <%= link_to like_shott_path(shott), method: :put, class: "like_shott" do %>
              <span class="icon"><i class="fa fa-heart"></i></span>
              <span class="vote_count"><%= shott.get_likes.size %></span>
            <% end %>
        <% end %>

      </div>
    </div>
  </nav>
  </div>
  <div class="user-data">
    <div class="user-thumb">
      <%= image_tag(current_user.avatar_thumbnail) if current_user.avatar.attached? %>
    </div>
    <div class="user-name"><%=link_to shott.user.name, user_path(current_user) %></div>
  </div>
</div>
<% end %>
</div>
</section>