<p>
  <strong>Title:</strong>
  <%= @shott.title %>
</p>

<p>
  <strong>Technique:</strong>
  <%= @shott.technique %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shott.description %>
</p>

<%= link_to 'Edit', edit_shott_path(@shott) %> |
<%= link_to 'Back', shotts_path %>
